In [2]:
from application import VespaApp
import pandas as pd

In [3]:
data = pd.read_csv('data/transcribed_podcasts.csv')
app = VespaApp()

Waiting for configuration server, 0/300 seconds...
Using plain http against endpoint http://localhost:8080/ApplicationStatus
Waiting for application status, 0/300 seconds...
Using plain http against endpoint http://localhost:8080/ApplicationStatus
Waiting for application status, 5/300 seconds...
Using plain http against endpoint http://localhost:8080/ApplicationStatus
Waiting for application status, 10/300 seconds...
Using plain http against endpoint http://localhost:8080/ApplicationStatus
Waiting for application status, 15/300 seconds...
Using plain http against endpoint http://localhost:8080/ApplicationStatus
Waiting for application status, 20/300 seconds...
Using plain http against endpoint http://localhost:8080/ApplicationStatus
Waiting for application status, 25/300 seconds...
Using plain http against endpoint http://localhost:8080/ApplicationStatus
Application is up!
Finished deployment.

In [4]:
df_result = app.query_semantic(input_query='Money, career and how to become a millionaire')
df_result

    id                   title
0  535     Origin Story (2014)
1  423  The Invention of Money
2  591  Get Your Money's Worth
3   45            Media Fringe
4    7                Quitting
5   57                Delivery
6  711         How to Be Alone
7   94                  How To
8  383     Origin Story (2009)
9  512             House Rules

In [5]:
df_result = app.query_bm25(input_query='Money, career and how to become a millionaire')
df_result

    id                        title
0  329  Nice Work If You Can Get It
1  417             This Party Sucks
2  769       The Reluctant Explorer
3  406           True Urban Legends
4   43            Faustian Bargains
5  672                     No Fair!
6  178                  Superpowers
7   91               Escape the Box
8   19                    Rich Guys
9  145            Poultry Slam 1999

In [6]:
df_result = app.query_fusion(input_query='Money, career and how to become a millionaire')
df_result

    id                              title
0  329        Nice Work If You Can Get It
1  769             The Reluctant Explorer
2  591             Get Your Money's Worth
3  205                             Plan B
4   45                       Media Fringe
5   91                     Escape the Box
6  383                Origin Story (2009)
7  461  Take the Money and Run for Office
8  189                     Hitler’s Yacht
9  590                     Choosing Wrong

In [7]:
df_result = app.query_semantic(input_query=data['transcript'][143])
df_result = df_result.head(5)

In [8]:
data['episode'] = data['episode'].astype(str)

In [9]:
scores = []
for i, row_i in data.head(300).iterrows():
    print(i)
    correct = 0
    try:
        df_result = app.query_semantic(input_query=data['transcript'][i])
        for j, row_j in df_result.head().iterrows():
            x = row_j['id']
            df_subresult = app.query_semantic(input_query=data.query("episode == @x")['transcript'])
            if row_i['title'] in df_subresult.head(10)['title'].values:
                correct += 1
        scores.append(correct/5)
    except:
        pass

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299

In [10]:
# get mean score
sum(scores)/len(scores)

0.14364261168384881

In [94]:
original_query = "Cooking recipes for beginners in the kitchen"
df_result = app.query_fusion(input_query=original_query)
titles_list = []
# append all df_result titles to titles_list
for i, row in df_result.head(5).iterrows():
    titles_list.append(row['title'])

similar_queries = ["Cooking recipes for beginners",
                     "Cooking recipes in the kitchen",
                     "Recipes, cookers and beginners",
                      "The best recipes for beginners in the kitchen",
                    ]
count = 0
for query in similar_queries:
    df_result = app.query_fusion(input_query=query)
    for i, row in df_result.head(5).iterrows():
        if row['title'] in titles_list:
            count += 1

In [95]:
count/(len(similar_queries)*5)

0.9

In [96]:
original_query = "Global warming and the climate change"
df_result = app.query_fusion(input_query=original_query)
titles_list = []
# append all df_result titles to titles_list
for i, row in df_result.head(5).iterrows():
    titles_list.append(row['title'])

similar_queries = ["Global warming",
                    "Climate change",
                    "The impact of climate change",
                    "The effects of global warming",
                    ]
count = 0
for query in similar_queries:
    df_result = app.query_fusion(input_query=query)
    for i, row in df_result.head(5).iterrows():
        if row['title'] in titles_list:
            count += 1

In [97]:
count/(len(similar_queries)*5)

0.55

In [98]:
original_query = "Politics, geopolitics and the future of the world"
df_result = app.query_fusion(input_query=original_query)
titles_list = []
# append all df_result titles to titles_list
for i, row in df_result.head(5).iterrows():
    titles_list.append(row['title'])

similar_queries = ["Politics and geopolitics",
                    "The future of the world in politics",
                    "The impact of politics on the world",
                    "The future of geopolitics",
                    ]
count = 0
for query in similar_queries:
    df_result = app.query_fusion(input_query=query)
    for i, row in df_result.head(5).iterrows():
        if row['title'] in titles_list:
            count += 1

In [99]:
count/(len(similar_queries)*5)

0.45

In [100]:
original_query = "Why do mail, post offices and postal services take so long?"
df_result = app.query_fusion(input_query=original_query)
titles_list = []
# append all df_result titles to titles_list
for i, row in df_result.head(5).iterrows():
    titles_list.append(row['title'])

similar_queries = ["Mail and post offices",
                    "Postal services and mail",
                    "Why does mail take so long?",
                    "Mail, post offices and postal services"
                    ]
count = 0
for query in similar_queries:
    df_result = app.query_fusion(input_query=query)
    for i, row in df_result.head(5).iterrows():
        if row['title'] in titles_list:
            count += 1

In [101]:
count/(len(similar_queries)*5)

0.45

In [102]:
original_query = "Elections, ballots, democrats and republicans"
df_result = app.query_fusion(input_query=original_query)
titles_list = []
# append all df_result titles to titles_list
for i, row in df_result.head(5).iterrows():
    titles_list.append(row['title'])

similar_queries = ["Elections and ballots in the US",
                    "Democrats and republicans",
                    "The impact of elections on democrats and republicans",
                    "Democrats and republicans on ballots",
                    ]
count = 0
for query in similar_queries:
    df_result = app.query_fusion(input_query=query)
    for i, row in df_result.head(5).iterrows():
        if row['title'] in titles_list:
            count += 1

In [103]:
count/(len(similar_queries)*5)

0.65

In [104]:
original_query = "Robotics, technology and artificial intelligence"
df_result = app.query_fusion(input_query=original_query)
titles_list = []
# append all df_result titles to titles_list
for i, row in df_result.head(5).iterrows():
    titles_list.append(row['title'])

similar_queries = ["Robotics and technology in ai",
                    "AI and robotics",
                    "Technology and artificial intelligence",
                    "Technology of robots and ai",
                    ]
count = 0
for query in similar_queries:
    df_result = app.query_fusion(input_query=query)
    for i, row in df_result.head(5).iterrows():
        if row['title'] in titles_list:
            count += 1

In [105]:
count/(len(similar_queries)*5)

0.65

In [106]:
original_query = "Parenting, how to be moms and dads"
df_result = app.query_fusion(input_query=original_query)
titles_list = []
# append all df_result titles to titles_list
for i, row in df_result.head(5).iterrows():
    titles_list.append(row['title'])

similar_queries = ["Parenting",
                    "How to be moms and dads",
                    "Moms and dads in parenting",
                    "Parenting, kids, moms and dads",
                    ]
count = 0
for query in similar_queries:
    df_result = app.query_fusion(input_query=query)
    for i, row in df_result.head(5).iterrows():
        if row['title'] in titles_list:
            count += 1

In [107]:
count/(len(similar_queries)*5)

0.65

In [108]:
original_query = "Books, reading and writing"
df_result = app.query_fusion(input_query=original_query)
titles_list = []
# append all df_result titles to titles_list
for i, row in df_result.head(5).iterrows():
    titles_list.append(row['title'])

similar_queries = ["Books and reading",
                    "Writing and reading",
                    "Books and writing",
                    "Reading and writing the best books",
                    ]
count = 0
for query in similar_queries:
    df_result = app.query_fusion(input_query=query)
    for i, row in df_result.head(5).iterrows():
        if row['title'] in titles_list:
            count += 1

In [109]:
count/(len(similar_queries)*5)

0.75

In [110]:
original_query = "Self-improvement and motivation"
df_result = app.query_fusion(input_query=original_query)
titles_list = []
# append all df_result titles to titles_list
for i, row in df_result.head(5).iterrows():
    titles_list.append(row['title'])

similar_queries = ["Self-improvement",
                    "Motivation and self-improvement",
                    "Self-help and Self-improvement",
                    "Motivation and self-help",
                    ]
count = 0
for query in similar_queries:
    df_result = app.query_fusion(input_query=query)
    for i, row in df_result.head(5).iterrows():
        if row['title'] in titles_list:
            count += 1

In [111]:
count/(len(similar_queries)*5)

0.5

In [112]:
original_query = "Money, career and how to become a millionaire"
df_result = app.query_fusion(input_query=original_query)
titles_list = []
# append all df_result titles to titles_list
for i, row in df_result.head(5).iterrows():
    titles_list.append(row['title'])

similar_queries = ["Money and career and millionaires",
                    "Become a millionaire",
                    "Money and career to be a millionaire",
                    "Career and money and becoming a millionaire",
                    ]
count = 0
for query in similar_queries:
    df_result = app.query_fusion(input_query=query)
    for i, row in df_result.head(5).iterrows():
        if row['title'] in titles_list:
            count += 1

In [113]:
count/(len(similar_queries)*5)

0.7

metrics in Ranking Stability
semantic: 0.525
bm_25: 0.66 
fusion: 0.625