In [1]:
from application import VespaApp
import pandas as pd

In [2]:
data = pd.read_csv('data/transcribed_podcasts.csv')
app = VespaApp()

Waiting for configuration server, 0/300 seconds...
Using plain http against endpoint http://localhost:8080/ApplicationStatus
Waiting for application status, 0/300 seconds...
Using plain http against endpoint http://localhost:8080/ApplicationStatus
Waiting for application status, 5/300 seconds...
Using plain http against endpoint http://localhost:8080/ApplicationStatus
Waiting for application status, 10/300 seconds...
Using plain http against endpoint http://localhost:8080/ApplicationStatus
Waiting for application status, 15/300 seconds...
Using plain http against endpoint http://localhost:8080/ApplicationStatus
Waiting for application status, 20/300 seconds...
Using plain http against endpoint http://localhost:8080/ApplicationStatus
Application is up!
Finished deployment.

In [3]:
df_result = app.query_semantic(input_query='Money, career and how to become a millionaire')
df_result

    id                   title
0  535     Origin Story (2014)
1  423  The Invention of Money
2  591  Get Your Money's Worth
3   45            Media Fringe
4    7                Quitting
5   57                Delivery
6  711         How to Be Alone
7   94                  How To
8  383     Origin Story (2009)
9  512             House Rules

In [4]:
df_result = app.query_bm25(input_query='Money, career and how to become a millionaire')
df_result

    id                        title
0  329  Nice Work If You Can Get It
1  417             This Party Sucks
2  769       The Reluctant Explorer
3  406           True Urban Legends
4   43            Faustian Bargains
5  672                     No Fair!
6  178                  Superpowers
7   91               Escape the Box
8   19                    Rich Guys
9  145            Poultry Slam 1999

In [5]:
df_result = app.query_fusion(input_query='Money, career and how to become a millionaire')
df_result

    id                              title
0  329        Nice Work If You Can Get It
1  769             The Reluctant Explorer
2  591             Get Your Money's Worth
3  205                             Plan B
4   45                       Media Fringe
5   91                     Escape the Box
6  383                Origin Story (2009)
7  461  Take the Money and Run for Office
8  189                     Hitler’s Yacht
9  590                     Choosing Wrong

In [6]:
data.head(15)

,link,episode,title,date_on_air,description,transcript
0,https://www.thisamericanlife.org/sites/default...,1,New Beginnings,"1 November 17, 1995",Our program's very first broadcast.,Joe Franklin?\nI'm ready.\nIt's Ira Glass here...
1,https://www.thisamericanlife.org/sites/default...,2,Small Scale Sin,"2 November 24, 1995",Small-scale stories on the nature of small-sca...,"OK, three boys, aged 13, 15, and 16. All three..."
2,https://www.thisamericanlife.org/sites/default...,3,Poultry Slam 1995,"3 December 1, 1995","Stories decrying the wonders of turkeys, chick...","In Danielle's house, ever since she was a girl..."
3,https://www.thisamericanlife.org/sites/default...,4,Vacations,"4 December 8, 1995",Stories about vacations gone awry—or perhaps v...,The thing about Hawaii is that before you go a...
4,https://www.thisamericanlife.org/sites/default...,5,Anger and Forgiveness,"5 December 15, 1995","Stories that reveal the societal ""trend"" towar...",Hi. It's Ira Glass recording this in 2006. An...
5,https://www.thisamericanlife.org/sites/default...,7,Quitting,"7 December 29, 1995",Stories of people who quit everything in their...,"What will make you change? For most of us, it ..."
6,https://www.thisamericanlife.org/sites/default...,8,New Year,"8 January 3, 1996",Stories that reflect back on 1995.,What's the French electrical supply like over...
7,https://www.thisamericanlife.org/sites/default...,9,Julia Sweeney,"9 January 10, 1996",When comedian Julia Sweeney and her brother bo...,"OK, here's something that most of us would ne..."
8,https://www.thisamericanlife.org/sites/default...,10,Double Lives,"10 January 17, 1996","People living their lives, just like the rest ...",There's what we wish for and there's what we g...
9,https://www.thisamericanlife.org/sites/default...,11,Enemies,"11 January 24, 1996",A story of a friendship between two adolescent...,"""I'll pour this pestilence into his ear. So w..."
10,https://www.thisamericanlife.org/sites/default...,12,Animals,"12 January 31, 1996","Stories about the animalness of animals, the i...","From PRI, Public Radio International. From PRI..."
11,https://www.thisamericanlife.org/sites/default...,13,Love,"13 February 7, 1996",Explorations of the dream of true love and the...,"This is Ira Glass, host of \nAnd WBEZ is rebro..."
12,https://www.thisamericanlife.org/sites/default...,14,Accidental Documentaries,"14 February 21, 1996",What unites these stories on the surface is th...,"From PRI, Public Radio International. From PRI..."
13,https://www.thisamericanlife.org/sites/default...,15,Dawn,"15 February 28, 1996",Writer Jack Hitt goes on a search for a myster...,"From PRI, Public Radio International. From PRI..."
14,https://www.thisamericanlife.org/sites/default...,16,Economy,"16 March 14, 1996","Stories of politics, the economy, and the big ...","Well, in this moment of our presidential elect..."

In [7]:
# print data where episode==145
data[data['episode']==145]

,link,episode,title,date_on_air,description,transcript
143,https://www.thisamericanlife.org/sites/default...,145,Poultry Slam 1999,"145 November 26, 1999","For Thanksgiving, the time of year when poultr...","In Danielle's house, ever since she was a girl..."

In [8]:
df_result = app.query_semantic(input_query=data['transcript'][143])
df_result = df_result.head(5)

    id                title
0   44    Poultry Slam 1996
1  145    Poultry Slam 1999
2  252    Poultry Slam 2003
3    3    Poultry Slam 1995
4  452    Poultry Slam 2011
5  816         Poultry Slam
6  117  You Gonna Eat That?
7  369    Poultry Slam 2008
8  116    Poultry Slam 1998
9  343    Poultry Slam 2007

In [9]:
data['episode'] = data['episode'].astype(str)

In [13]:
scores = []
for i, row_i in data.head(300).iterrows():
    print(i)
    correct = 0
    try:
        df_result = app.query_semantic(input_query=data['transcript'][i])
        for j, row_j in df_result.head().iterrows():
            x = row_j['id']
            df_subresult = app.query_semantic(input_query=data.query("episode == @x")['transcript'])
            if row_i['title'] in df_subresult.head(10)['title'].values:
                correct += 1
        scores.append(correct/5)
    except:
        pass

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299

In [25]:
# get mean score
sum(scores)/len(scores)

0.14364261168384881

In [16]:
original_query = "Cooking recipes for beginners in the kitchen"
df_result = app.query_semantic(input_query=original_query)
titles_list = []
# append all df_result titles to titles_list
for i, row in df_result.head(5).iterrows():
    titles_list.append(row['title'])

similar_queries = ["Cooking recipes in the kitchen",
                    "Cooking recipes for beginners",
                    "Recipes for cooking beginners",
                    "Cooking in the kitchen"
                    ]
count = 0
for query in similar_queries:
    df_result = app.query_semantic(input_query=query)
    for i, row in df_result.head(5).iterrows():
        if row['title'] in titles_list:
            count += 1

In [19]:
count/(len(similar_queries)*5)

0.7